<html>
<ol>

<!--{{#user}}-->
Hello, {{user}}
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<br/>

<form action="/create-entry" method="post">
    <input type="text" placeholder="Car make" name="carMake"/>
    <input type="text" placeholder="Car model" name="carModel"/>
    <input type="text" placeholder="Car year" name="carYear"/>
    <select name="carStyle">
        <option selected disabled>Body style</option>
        <option value="coupe">Coupe</option>
        <option value="sedan">Sedan</option>
        <option value="wagon">Wagon</option>
        <option value="crossover">Crossover</option>
        <option value="suv">SUV</option>
        <option value="truck">Truck</option>
    </select>
    <input type="text" placeholder="Car color" name="carColor"/>
    <button type="submit">Submit</button>
</form>
<br/>

<ol>
{{#cars}}
    <li>{{make}} - {{model}} - {{modelYear}} - {{style}} - {{color}}
        <form action="/delete-entry" method="post">
            <button type="submit">Delete</button>
        </form>

        <form action="/edit-entry" method="post">
            <button type="submit">Edit</button>
        </form>
    </li>
{{/cars}}
</ol>
<!--{{/user}}-->

</body>
</html>